# Python
__pycache__/
*.pyc

# Data & Outputs (Keep structure, ignore content)
outputs/data/*
outputs/plots/*
!outputs/data/.gitkeep
!outputs/plots/.gitkeep

# IDEs
.vscode/
.idea/

# Environment
.env
venv/
*.egg-info/
